<li class="alert alert-light" [ngClass]=" { 'list-group-item': true}">
  <div>
    <div style="text-align: center ">
      <img class="affiche img-fluid img-responsive" style="height: 300px; width: 200px" [src]="filmAffiche">
    </div>
    <div class="alert alert-dark" style="text-align: center">
      <div>
        <div class="alert alert-primary" style="text-align: center">
          <h3>Film : {{ filmName }}</h3>
        </div>
        <div>
          Date: {{ filmReleaseDate }} // Durée : {{ filmTime }}min // Pays: {{filmCountry}}
        </div>
      </div>
      <div>
        <div>
          Producteur: {{filmProductor}} <br>
          Realisateur: {{filmRealisator}}
        </div>
        <div>
          Scénariste: {{filmScenario}} <br>
          Musique: {{filmMusic}}
        </div>
      </div>
      <br>
      <div>
        <div class="alert alert-info">
          Résumé: <br>
          <div>
            {{filmSynopsis}}
          </div>
        </div>
      </div>
    </div>
    <div style="text-align: right">
      <a [routerLink]="['/modif', id]" class="btn btn-primary">Modifier</a>
      <button  class="btn btn-danger" (click)="suppr()">Supprimer</button>
    </div>
  </div>
</li>
