<li class="alert alert-light" [ngClass]=" {'list-group-item': true}">
  <div>
    <div class="alert alert-dark" style="text-align: center">
      <div>
        <div class="alert alert-primary">
          <h3>{{musiqueArtiste}} - {{ musiqueTitre }}</h3>
        </div>
        <div class="alert alert-info">
          Durée : {{ musiqueDuree }}min - Album : {{musiqueAlbum}}
        </div>
      </div>
      <div>
        <div>
          Genre : {{musiqueGenre}} <br><br>
        </div>
        <div>
          <iframe width="560" height="315" [src]="url"></iframe>
        </div>
      </div>
      <br>
    </div>
    <div style="text-align: right">
      <a [routerLink]="['/modif-musique', id]" class="btn btn-primary">Modifier</a>
      <button class="btn btn-danger" (click)="suppr()">Supprimer</button>
    </div>
  </div>
</li>
